.row {
  margin: 0 -10px;
  &:after {
    content: '';
    display: table;
    width: 0;
    height: 0;
    border: 0;
    clear: both;
  }
}
.col4 {
  float: left;
  width: 33.33333%;
  padding: 15px 10px 0;
}
