.button {
  display: inline-block;
  margin: 0;
  padding: 0;
  min-width: 100px;
  line-height: 36px;
  text-align: center;
  background-color: transparent;
  border: 2px solid transparent;
  transition: background-color 0.4s, color 0.4s;

  .loadingIcon {
    display: inline-block;
    width: 13px;
    height: 13px;
    border-radius: 100%;
    animation-fill-mode: both;
    border: 2px solid #ffffff;
    border-bottom-color: transparent;
    background: transparent !important;
    animation: rotate 1s 0s linear infinite;
  }

  &.loading {
    opacity: 0.8;
    pointer-events: none;
  }
}

.primary {
  background-color: #3d70b2;
  color: #ffffff;
}

.primary:hover {
  background-color: #5596e6;
}

.default {
  border: solid 2px #3d70b2;
  color: #3d70b2;
}

.default:hover {
  background-color: #3d70b2;
  color: #ffffff;
}

.disabled {
  opacity: 0.5;
  pointer-events: none;
}

@keyframes rotate {
  0% {
    transform: rotate(0deg) scale(1);
  }
  50% {
    transform: rotate(180deg) scale(0.7);
  }
  100% {
    transform: rotate(360deg) scale(1);
  }
}
