.formGroup {
  display: inline-block;
  width: 100%;
  & > label {
    display: block;
    margin-bottom: 8px;
    font-size: 14px;
    line-height: 20px;
    font-weight: 600;
    color: #152935;
    & > i {
      color: #e71d32;
      margin-right: 3px;
    }
  }
}
