:global(#app) {
  height: 100vh;
}
.wrapper {
  padding-top: 50px;
  height: 100%;
  overflow: hidden;
  .content {
    position: relative;
    height: 100%;
  }
  .mainContent {
    margin-left: 200px;
    height: 100%;
    padding: 0 60px 50px 60px;
    overflow: auto;
  }
}
