.warnBox {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    overflow: hidden;
    height: 40px;
    padding: 0 16px;
    box-sizing: border-box;
    .icon {
        display: inline-block;
        width: 16px;
        height: 16px;
        margin-right: 16px;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center center;
    }
    span {
        flex: 1;
        display: inline-block;
        font-size: 14px;
        color: #152935;
        line-height: 20px;
    }
    .close {
        display: inline-block;
        width: 20px;
        height: 20px;
        font-size: 16px;
        color: #8c9ba5;
        text-align: center;
        line-height: 17px;
        user-select: none;
        cursor: pointer;
    }
    .close:hover {
        color: #3d70b2;
    }
}

.success {
    border: solid 1px #5aa700;
    border-left-width: 4px;
    .icon {
        background-image: url(./icon_message_success.png);
    }
}

.notice {
    border: solid 1px #5aaafa;
    border-left-width: 4px;
    .icon {
        background-image: url(./icon_message_notice.png);
    }
}

.error {
    border: solid 1px #e71d32;
    border-left-width: 4px;
    .icon {
        background-image: url(./icon_message_error.png);
    }
}

.hidden {
    display: none;
}