.warn {
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  padding-top: 3px;
  border-top: 2px solid #e71d32;
  font-size: 14px;
  line-height: 1.5;
  color: #152935;
  animation: slideLeft 250ms;
  label {
    color: #e71d32;
    margin-right: 5px;
    vertical-align: middle;
  }
}

@keyframes slideLeft {
  from {;
    transform: translate3d(-100%, 0, 0);
    opacity: 0;
  }

  to {
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }
}
