.recordTrailDetail {
  .photoFrame {
    position: absolute;
    top: 0;
    left: 100%;
    margin-left: 10px;
    li + li {
      margin-top: 10px;
    }
  }
  .reason {
    margin-top: 35px;
  }
  .curtainFrame {
    display: flex;
    margin-top: 25px;
    li + li {
      margin-left: 25px;
    }
  }
}
