.menuBox {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  width: 200px;
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  border-right: solid 1px #dfe3e6;
  font-size: 14px;
  color: #152935;
  z-index: 100;
  transition: width 0.25s;
  .navList {
    flex: 1;
    overflow-x: hidden;
    overflow-y: auto;
    padding: 16px 0;
    li {
      a {
        display: block;
        line-height: 34px;
        padding-left: 20px;
        color: #152935;
        text-decoration: none;
        cursor: pointer;
        transition: color 0.25s, background-color 0.25s;
      }
      a:hover {
        color: #3d70b2;
        background-color: #f0f3f6;
      }
      a.selected {
        padding-left: 16px;
        border-left: 4px solid #3d70b2;
        color: #3d70b2;
      }
    }
  }
  .switch {
    width: 100%;
    height: 40px;
    background-color: rgba(61, 112, 178, 0.1);
    text-align: right;
    cursor: pointer;
    .switchIcon {
      margin-right: 10px;
      margin-top: 8px;
      width: 30px;
      height: 30px;
      display: inline-block;
      text-align: center;
      line-height: 30px;
      font-size: 28px;
      color: #3d70b2;
      transform: rotate(180deg);
    }
  }
  .switch:hover {
    background-color: rgba(61, 112, 178, 0.3);
  }
}

.show {
  width: 200px;
  .navList {
    visibility: visible;
  }
}
.hidden {
  width: 50px;
  background-color: rgba(61, 112, 178, 0.1);
  &:hover {
    background-color: rgba(61, 112, 178, 0.3);
    cursor: pointer;
  }
  .navList {
    visibility: hidden;
  }
  .switch {
    .switchIcon {
      margin-top: 4px;
      transform: rotate(0deg);
    }
  }
}

.cover {
  position: fixed;
  top: 50px;
  left: 200px;
  right: 0;
  bottom: 0;
}
