.inputText {
  width: 300px;
  height: 40px;
  box-sizing: border-box;
  position: relative;
  background-color: rgba(61, 112, 178, 0.1);
  outline: none;
  color: rgba(0, 0, 0, 0.87);
  font-size: 14px;
  padding-left: 16px;
  border: 1px solid transparent;
}

.inputText.focusing {
  border-color: #3d70b2;
}

.inputText.warning {
  border-color: transparent;
  box-shadow: 0 2px 0 0 #e71d32;
}
