.inputContainer {
  position: relative;
  & > input,
  & > textarea {
    width: 100%;
    font-size: 14px;
    color: #152935;
    border: 1px solid transparent;
    background-color: rgba(61, 112, 178, 0.1);
    outline: 0 none;
    &:focus {
      border-color: #3d70b2;
    }
  }
  & > input {
    height: 40px;
    padding: 0 15px;
  }
  & > textarea {
    height: 100%;
    padding: 15px;
    line-height: 1.29;
  }
}
