.datepickerContainer {
  position: relative;
  .datepickerInput{
    display: block;
    width: 100%;
    padding: 0 12px;
    color: #152935;
    font-size: 14px;
    line-height: 38px;
    background-color: rgba(61, 112, 178, 0.1);
    border: 1px solid transparent;
    cursor: pointer;
  }
  .datepickerIcon {
    position: absolute;
    left: 100%;
    top: 10px;
    margin-left: 10px;
    width: 17px;
    height: 19px;
    fill: #3d70b2
  }
  &:focus {
    outline: 0 none;
  }
  &.focus {
    .datepickerInput {
      outline: 1px solid #3d70b2;
    }
  }
}

.calendarWrap {
  position: fixed;
  width: 245px;
  padding: 15px 15px 5px;
  margin-top: 2px;
  background: #ffffff;
  overflow: hidden;
  box-shadow: 0 12px 24px 0 rgba(0, 0, 0, 0.1);
  user-select: none;
  z-index: 6000;
  &:focus {
    outline: 0 none;
  }
  &.focus {
    outline: 1px solid #3d70b2;
  }
}
.calendarHeader {
  display: flex;
  align-items: center;
  justify-content: space-between;
  .calendarMonthPrev,
  .calendarMonthNext {
    cursor: pointer;
    & > svg {
      width: 8px;
      height: 12px;
    }
  }
  .calendarMonthCurr {
    flex: 0 0 75%;
    text-align: center;
    & > span {
      margin-right: 5px;
      font-size: 12px;
      font-weight: 700;
    }
  }
}
.calendarYearWrap {
  position: relative;
  display: inline-block;
  width: 38px;
  & > input {
    width: 100%;
    padding: 2px 0;
    text-align: center;
    font-size: 12px;
    font-weight: 600;
    color: #152935;
    background-color: rgba(61, 112, 178, 0.1);
    border: none;
    &:focus {
      outline: 0 none;
    }
  }
  &:hover > span {
    opacity: 1;
  }
  & > span {
    position: absolute;
    left: 100%;
    display: inline-block;
    width: 13px;
    height: 50%;
    left: 100%;
    opacity: 0;
    cursor: pointer;
    &:after {
      content: '';
      position: absolute;
      right: 0;
      display: block;
      width: 0;
      height: 0;
      border: 4px solid transparent;
    }
  }
  .calendarYearUp {
    top: 0;
    &:after {
      top: 0;
      border-bottom-color: #3d70b2;
    }
    &:hover:after {
      border-bottom-color: #5596e6;
    }
  }
  .calendarYearDown {
    bottom: 0;
    &:after {
      bottom: 0;
      border-top-color: #3d70b2;
    }
    &:hover:after {
      border-top-color: #5596e6;
    }
  }
}
.calendarBody {
  width: 100%;
  margin-top: 10px;
  font-size: 12px;
  th, td {
    text-align: center;
    color: #152935;
  }
  th {
    line-height: 28px;
    font-weight: 600;
    padding-bottom: 5px;
  }
  td {
    line-height: 25px;
    cursor: pointer;
    &:hover {
      background-color: #dfe3e6;
    }
    &.inactive {
      color: #999999;
    }
    &.selected {
      background-color: #3d70b2;
      color: #ffffff;
    }
  }
}
