.datepickerContainer {
  position: relative;
  .datepickerInput{
    display: block;
    width: 100%;
    padding: 0 12px;
    color: #152935;
    font-size: 14px;
    line-height: 38px;
    background-color: rgba(61, 112, 178, 0.1);
    border: 1px solid transparent;
    cursor: pointer;
  }
  .datepickerIcon {
    position: absolute;
    left: 100%;
    top: 10px;
    margin-left: 10px;
    width: 17px;
    height: 19px;
    fill: #3d70b2
  }
  &:focus {
    outline: 1px solid #3d70b2;
  }
}


