.datepickerContainer {
  position: relative;
  .datepickerInput{
    display: block;
    width: 100%;
    padding: 0 12px;
    color: #152935;
    font-size: 14px;
    line-height: 38px;
    background-color: rgba(61, 112, 178, 0.1);
    border: 1px solid transparent;
    cursor: pointer;
  }
  .icon {
    position: absolute;
    right: 5px;
    top: 10px;
    width: 17px;
  }
  .datepickerIcon {
    display: inline-block;
    height: 19px;
    fill: #3d70b2;
  }
  .clearIcon {
    display: none;
    line-height: 19px;
    font-size: 20px;
    text-align: center;
    color: #8c9ba5;
  }
  &:focus {
    outline: 1px solid #3d70b2;
  }
}

.hover {
  &:hover {
    .datepickerIcon {
      display: none;
    }
    .clearIcon {
      display: inline-block;
    }
  }
}
