.textareaContainer {
  color: #152935;
  label {
    display: block;
    margin-bottom: 10px;
    line-height: 18px;
    font-weight: 600;
  }
  textarea {
    width: 100%;
    padding: 15px;
    background-color: rgba(61, 112, 178, 0.1);
    border: 0 none;
    font-size: 14px;
    line-height: 1.29;
    &:focus {
      border: 0 none;
      outline: 1px solid #3d70b2
    }
  }
}
