.selectBox {
    width: 200px;
    height: 40px;
    position: relative;
    color: #152935;
    cursor: pointer;
    .text {
        width: 100%;
        line-height: 40px;
        background-color: rgba(61, 112, 178, 0.1);
        padding: 0 16px;
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-between;
        align-items: center;
        border: 1px solid transparent;
    }
    .text:after {
        content: '';
        width: 0;
        height: 0;
        border-left: 5px solid transparent;
        border-right: 5px solid transparent;
        border-top: 5px solid #3d70b2;
        position: relative;
        right: -5px;
    }
    .list {
      display: none;
      position: absolute;
      top: 100%;
      width: 100%;
      margin-bottom: 5px;
      max-height: 175px;
      border: 1px solid #3d70b2;
      background-color: #ffffff;
      overflow-y: auto;
      z-index: 5;
      li {
        padding-left: 16px;
        color: #5a6872;
        font-size: 14px;
        line-height: 35px;
        cursor: pointer;
      }
      li:hover {
        background-color: #E0DEDE;
      }
    }
}

.disable {
  opacity: .5;
  cursor: not-allowed;
}

.focusing {
    .text {
        border: 1px solid #3d70b2;
    }
    .list {
        display: block;
    }
}

.small {
    width: 54px;
    height: 24px;
    .text {
        line-height: 24px;
        padding: 0 8px;
    }
    .text:after {
        top: 0;
        right: 0;
    }
    .list {
        li {
            line-height: 24px;
            padding: 0 8px;
        }
    }
}
