.inputBox {
    .label {
        font-size: 14px;
        line-height: 1.5;
        text-align: left;
        color: #152935;
        padding-bottom: 8px;
    }
    .formTips {
        height: 0px;
        overflow: hidden;
        transition: height 500ms;
        span {
            display: inline-block;
            padding: 10px 0;
            font-size: 14px;
            line-height: 1.25;
            text-align: left;
            color: #152935;
            i {
                color: #af121f;
            }
        }
    }
    .formTips.show {
        height: 37px;
    }
}